@font-face {
  font-family: 'druk';
  src: url('../assets/druk.ttf');
  }
  
@font-face {
  font-family: 'rockabye';
  src: url('../assets/Rockabye-Regular.ttf');
  }

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 18px 24px;
  justify-content: space-between;
  background-color: white;
  color: rgb(48, 63, 123);
  box-shadow:  2px 0px 8px rgb(112, 112, 112);
  
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: rgb(48, 63, 123);
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: white;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
  font-family: 'druk';
  color: rgb(48, 63, 123);
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  nav{
    padding: 0px;
  }
  .logo{
    display: none;
  }
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: 100%;
    column-gap: 30px;
    align-items: flex-start;
    justify-content: space-around;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: rgb(48, 63, 123);
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }

  
}
.sizedbox {
  height: 80px;
}
.titleScreen{
  align-items: center;
  align-content: center;
  align-self: center;
  padding: auto;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right bottom,rgb( 63, 81, 181),white);
}
 
.title{
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: 'rockabye';
  font-weight: lighter;
}

.description{
  text-align: center;
  padding-bottom: 20px;
  color: white;
  font-weight: lighter;
}

.center{
  margin: auto;
}

.logo{
  font-family: 'druk';
}

.body{
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.heading {
  font-family: 'rockabye';
  font-size: 50px;
  color: rgb(48, 63, 123);
}

.bottombar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(48, 63, 123);
  color: white;
  padding: 24px 16px;

}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: 
white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.titleScreen1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  height: 50vh;
  background-image: url("https://static.igem.wiki/teams/4314/wiki/gradient.svg");
  background: linear-gradient(to right bottom,rgb( 63, 81, 181),white);
}

.header1{
  color: rgb(105, 135, 201);
  font-family: 'druk';
}

.rounded-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: solid;
  border-width: 2px;
  border-color: rgb(105, 135, 201);
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 80;
  width: 50%;
  border-left-width: 0;
  padding-left: 20px;
  

}

.circle{
  margin-left: 40px;
  border: solid;
  border-width: 2px;
  border-color: rgb(105, 135, 201);
  border-radius: 50px;
  height: 80px;
  width: 80px;
}

.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}
.membertag{
  font-family: "druk";
  color: rgb(105, 135, 201);
  text-align: left;
}

.member-column{
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 5px;
  margin-left: 50px;
  margin-top: 25px;
}

.sizedbox110{
  height: 110px;
}